html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100%; 
}


body.NASCAR {
  background-image: url("images/nascar-wallpaper.jpg");
  background-color: #cccccc;
  background-attachment: fixed;
  background-position: 50% 50%;
}

body.F1 {
  background-image: url("images/f1-wallpaper.jpg");
  background-color: #cccccc;
  background-attachment: fixed;
  background-position: 50% 50%;
}
