@font-face {
  font-family: 'lightsider';
  src: url('assets/fonts/lightsider.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html, body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100%; 
  font-family: 'lightsider';
}


body.NASCAR {
  background-image: url("assets/images/nascar-wallpaper.jpg");
  background-color: #cccccc;
  background-attachment: fixed;
  background-position: 50% 50%;
}

body.F1 {
  background-image: url("assets/images/f1-wallpaper.jpg");
  background-color: #cccccc;
  background-attachment: fixed;
  background-position: 50% 50%;
}
