body {
  width: 100%;
  height: 100%;
}

body.NASCAR {
  background-image: url("images/nascar-wallpaper.jpg");
  background-color: #cccccc;
  background-attachment: fixed;
  background-position: 50% 50%;
}

body.F1 {
  background-image: url("images/f1-wallpaper.jpg");
  background-color: #cccccc;
  background-attachment: fixed;
  background-position: 50% 50%;
}